html:has(.main-content-2) {
  --primary: #367df4;

  background-image: url(../../public/noise.png), repeating-linear-gradient(50deg, transparent, transparent 2px, #00000015 3px);
  background-size: 150px;
}

.animate-spin-slow {
  animation: spin-slow 60s linear infinite reverse;
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}