html:has(.main-content-5) {
  --bg: #f4efe9;
  --primary: #367df4;

	background-color: var(--bg);
	background-image: url(../../public/noise.png);
	background-size: 200px;
	animation: noise 1s infinite linear alternate;
}

// animate noice background
@keyframes noise {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 100%;
	}
}

.no-transform-mobile > div {
	@media (max-width: 767px) {
		transform: none !important;
	}
}